* {
  padding: 0;
  margin: 0;
}

.loading {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Lato", sans-serif;
}

.image {
  height: 300px;
  padding-bottom: 20px;
}

.product-details-wrapper {
  margin: 32px;
  display: flex;
}

.product-details {
  width: calc(50% + 300px);
  font-size: 18px;
}

.label {
  font-weight: 600;
}

.product-list {
  list-style-type: none;
  padding: 4px;
  cursor: pointer;
}

.product-list:hover {
  color: #333;
}

.heading {
  padding-bottom: 20px;
}

.highlight {
  color: #4156a1;
}

.product-list-header {
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.product-sort-option {
  text-transform: uppercase;
}

.pagination {
  padding-top: 20px;
}
