* {
  padding: 0;
  margin: 0;
}

.loading {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Lato", sans-serif;
}

.image {
  height: 300px;
  padding-bottom: 20px;
}

.product-details-wrapper {
  margin: 32px;
  display: flex;
}

.product-details {
  width: calc(50% + 300px);
  font-size: 18px;
}

.label {
  font-weight: 600;
}

.product-list {
  list-style-type: none;
  padding: 16px;
  cursor: pointer;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 20px;
}

.product-list:hover {
  color: #333;
}

.heading {
  padding-bottom: 20px;
}

.highlight {
  border: 2px solid #e07a5f;
}

.product-list-header {
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.product-sort-option {
  text-transform: uppercase;
}

.pagination {
  padding-top: 20px;
}

.product-list-wrapper {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.product-list-image {
  display: flex;
}

.product-list-image img {
  height: 140px;
  width: auto;
  border-radius: 20px;
  background-color: #edeae3;
}

.product-list-title {
  font-weight: 600;
}

.red {
  color: #6d0f0f;
}

.green {
  color: #066939;
}

.orange {
  color: #abab3d;
}

.product-list-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.category {
  text-transform: capitalize;
  background-color: #333;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  color: #ebebeb;
  padding: 2px 0 2px 0;
}

.divider {
  padding-top: 15px;
}

.price {
  font-weight: 600;
}
